<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<section class="page-header">
    <a href="/"><h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1></a>
    <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    {% if site.github_username %}
    <a href="https://www.github.com/{{ site.github_username }}" class="btn">
        <i class="fa fa-github" aria-hidden="true"></i> {{ site.github_username }}
    </a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://www.twitter.com/{{ site.twitter_username }}" class="btn">
        <i class="fa fa-twitter" aria-hidden="true"></i> {{ site.twitter_username }}
    </a>
    {% endif %}
    {% if site.email %}
    <a href="mailto:{{ site.email }}" class="btn">
        <i class="fa fa-envelope" aria-hidden="true"></i> {{ site.email }}
    </a>
    {% endif %}

</section>

<section class="main-content">
    {{ content }}
</section>

{% if site.google_analytics %}
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
{% endif %}
</body>
</html>
